body {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    background-color: #ecf0f1;
=======
    
>>>>>>> da2e6d41041ce5201550f23371d525b988be6f45
}

header{
    background-color: #34495e;
    
}


main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}
<<<<<<< HEAD

a{
    color: #2ecc71;
}
a:hover{
    color: #e74c3c;
}

footer {
    background-color: #34495e;
}
=======
>>>>>>> da2e6d41041ce5201550f23371d525b988be6f45
